# Anything after a '#' sign is ignored, until the end of the linex

# What to check (+ to check, - to not check)

-checkEn      # Check if English text is present
+checkIlo     # Check if the ILO field is OK
+checkBloom   # Check the Bloom classifications
-checkLevel   # Check if the level field is OK
+checkSCB     # Check that there is SCB info
+checkVerbs   # Check verbs that did not get any Bloom classification
+checkCredits # Check that the credits field is OK


# What to print (+ to print, - to not print)

-printEachCourse     # Print each course that has a problem, list all problems it has
+printErrorTypeLists # Lists of course codese for each error
+printPerSCB         # print stats grouped by SCB ID
+printPerType        # print stats grouped by course type
+printPerLevel       # print stats grouped by course level
+printAmbiguousVerbs # print info regarding verbs with more than one Bloom classification
-printNonBloom       # print info regarding verb that did not get a Bloom classification


# Courses to skip/ignore

# - A minus means skip courses that fulfill this criteria
# + A plus means include courses that fulfill this criteria and skip all other courses (unless they fulfill other criteria added with another plus)
# +levelA +levelXX  would include A1F, A1N, A1E, A2E, AXX, and GXX (anything starting with A, and anything with XX)
# +levelA -levelE   would include A1F, A1N, AXX (anything starting with A but removing anything ending in E)
# If no argument is given for a criteria, all courses are included (e.g. if no "+type..." is given, all types are included)

+typeF # "forskarutbildning"
+typeV # "vidareutbildning"
+typeU # "uppdragsutbildning"
+typeFB # "förberedande utbildning"
+typeG # "grundutbildning"

+levelA # Any level starting with A (advanced)
+levelG # Any level starting with G (basic)
#+levelE # Any level endind in E (essay)
#+levelXX # GXX or AXX
+levelNone # " "
#+levelA1E # 
#+levelA1F #
#+levelA1N #
#+levelA2E #
#+levelAXX #
#+levelG1F #
#+levelG1N #
#+levelG2E #
#+levelG2F #
#+levelGXX #

# -scbAR2 # ignore archeology
#+scbAR1
#+scbAR2
